@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import 'tailwindcss';

@theme {
  --font-serif: 'Sawarabi Mincho', serif;
  --color-primary: #630909;
  --color-base: #f8f6f0;
}

body {
  @apply font-serif;
}
